body {
  font-family: Helvetica, Arial, sans-serif;
  background: #f6fafd;
  color: #333;
}



#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#sidebar {
padding: 1em;
overflow: auto;
max-height: 100vh;
}

#main {
padding: 1em;
border-radius: 0.3em;
box-shadow: 0 0 0.5em #d5d7d8;
background: #fff;
}

.logo {
max-width: 900px;
}

nav ul li {
list-style: none;
}
