<div id="container">
<div id="sidebar">
<h2>ember-voca <span>v1.0.0</span></h2>
<nav>
<ul>
<li><LinkTo @route="index">Home</LinkTo></li>
<li><a href="https://github.com/rajasegar/ember-voca">Github</a></li>
</ul>
</nav>

<h3>Case</h3>
<nav>
<ul>
<li><LinkTo @route="voca-camel-case">voca-camel-case</LinkTo></li>
<li><LinkTo @route="voca-capitalize">voca-capitalize</LinkTo></li>
<li><LinkTo @route="voca-decapitalize">voca-decapitalize</LinkTo></li>
<li><LinkTo @route="voca-kebab-case">voca-kebab-case</LinkTo></li>
<li><LinkTo @route="voca-lower-case">voca-lower-case</LinkTo></li>
<li><LinkTo @route="voca-snake-case">voca-snake-case</LinkTo></li>
<li><LinkTo @route="voca-swap-case">voca-swap-case</LinkTo></li>
<li><LinkTo @route="voca-title-case">voca-title-case</LinkTo></li>
<li><LinkTo @route="voca-upper-case">voca-upper-case</LinkTo></li>
</ul>
</nav>


<h3>Count</h3>
<nav>
<ul>

<li><LinkTo @route="voca-count">voca-count</LinkTo></li>
<li><LinkTo @route="voca-count-graphemes">voca-count-graphemes</LinkTo></li>
<li><LinkTo @route="voca-count-substrings">voca-count-substrings</LinkTo></li>
<li><LinkTo @route="voca-count-where">voca-count-where</LinkTo></li>
<li><LinkTo @route="voca-count-words">voca-count-words</LinkTo></li>
</ul>
</nav>

<h3>Chop</h3>
<nav>
<ul>
<li><LinkTo @route="voca-char-at">voca-char-at</LinkTo></li>
<li><LinkTo @route="voca-code-point-at">voca-code-point-at</LinkTo></li>
<li><LinkTo @route="voca-first">voca-first</LinkTo></li>
<li><LinkTo @route="voca-grapheme-at">voca-grapheme-at</LinkTo></li>
<li><LinkTo @route="voca-last">voca-last</LinkTo></li>
<li><LinkTo @route="voca-prune">voca-prune</LinkTo></li>
<li><LinkTo @route="voca-slice">voca-slice</LinkTo></li>
<li><LinkTo @route="voca-substr">voca-substr</LinkTo></li>
<li><LinkTo @route="voca-substring">voca-substring</LinkTo></li>
<li><LinkTo @route="voca-truncate">voca-truncate</LinkTo></li>
</ul>
</nav>

<h3>Escape</h3>
<nav>
<ul>
<li><LinkTo @route="voca-escape-html">voca-escape-html</LinkTo></li>
<li><LinkTo @route="voca-escape-reg-exp">voca-escape-reg-exp</LinkTo></li>
<li><LinkTo @route="voca-unescape-html">voca-unescape-html</LinkTo></li>
</ul>
</nav>

<h3>Format</h3>
<nav>
<ul>
<li><LinkTo @route="voca-sprintf">voca-sprintf</LinkTo></li>
<li><LinkTo @route="voca-vprintf">voca-vprintf</LinkTo></li>
</ul>
</nav>

<h3>Index</h3>
<nav>
<ul>
<li><LinkTo @route="voca-index-of">voca-index-of</LinkTo></li>
<li><LinkTo @route="voca-last-index-of">voca-last-index-of</LinkTo></li>
<li><LinkTo @route="voca-search">voca-search</LinkTo></li>
</ul>
</nav>

<h3>Manipulate</h3>
<nav>
<ul>
<li><LinkTo @route="voca-insert">voca-insert</LinkTo></li>
<li><LinkTo @route="voca-latinise">voca-latinise</LinkTo></li>
<li><LinkTo @route="voca-pad">voca-pad</LinkTo></li>
<li><LinkTo @route="voca-pad-left">voca-pad-left</LinkTo></li>
<li><LinkTo @route="voca-pad-right">voca-pad-right</LinkTo></li>
<li><LinkTo @route="voca-repeat">voca-repeat</LinkTo></li>
<li><LinkTo @route="voca-replace">voca-replace</LinkTo></li>
<li><LinkTo @route="voca-replace-all">voca-replace-all</LinkTo></li>
<li><LinkTo @route="voca-reverse">voca-reverse</LinkTo></li>
<li><LinkTo @route="voca-reverse-grapheme">voca-reverse-grapheme</LinkTo></li>
<li><LinkTo @route="voca-slugify">voca-slugify</LinkTo></li>
<li><LinkTo @route="voca-splice">voca-splice</LinkTo></li>
<li><LinkTo @route="voca-tr">voca-tr</LinkTo></li>
<li><LinkTo @route="voca-trim">voca-trim</LinkTo></li>
<li><LinkTo @route="voca-trim-left">voca-trim-left</LinkTo></li>
<li><LinkTo @route="voca-trim-right">voca-trim-right</LinkTo></li>
<li><LinkTo @route="voca-word-wrap">voca-word-wrap</LinkTo></li>
</ul>
</nav>

<h3>Query</h3>
<nav>
<ul>
<li><LinkTo @route="voca-ends-with">voca-ends-with</LinkTo></li>
<li><LinkTo @route="voca-includes">voca-includes</LinkTo></li>
<li><LinkTo @route="voca-is-alpha">voca-is-alpha</LinkTo></li>
<li><LinkTo @route="voca-is-alpha-digit">voca-is-alpha-digit</LinkTo></li>
<li><LinkTo @route="voca-is-blank">voca-is-blank</LinkTo></li>
<li><LinkTo @route="voca-is-digit">voca-is-digit</LinkTo></li>
<li><LinkTo @route="voca-is-empty">voca-is-empty</LinkTo></li>
<li><LinkTo @route="voca-is-lower-case">voca-is-lower-case</LinkTo></li>
<li><LinkTo @route="voca-is-numeric">voca-is-numeric</LinkTo></li>
<li><LinkTo @route="voca-is-string">voca-is-string</LinkTo></li>
<li><LinkTo @route="voca-is-upper-case">voca-is-upper-case</LinkTo></li>
<li><LinkTo @route="voca-matches">voca-matches</LinkTo></li>
<li><LinkTo @route="voca-starts-with">voca-starts-with</LinkTo></li>
</ul>
</nav>

<h3>Split</h3>
<nav>
<ul>
<li><LinkTo @route="voca-chars">voca-chars</LinkTo></li>
<li><LinkTo @route="voca-code-points">voca-code-points</LinkTo></li>
<li><LinkTo @route="voca-graphemes">voca-graphemes</LinkTo></li>
<li><LinkTo @route="voca-split">voca-split</LinkTo></li>
<li><LinkTo @route="voca-words">voca-words</LinkTo></li>
</ul>
</nav>

<h3>Strip</h3>
<nav>
<ul>
<li><LinkTo @route="voca-strip-bom">voca-strip-bom</LinkTo></li>
<li><LinkTo @route="voca-strip-tags">voca-strip-tags</LinkTo></li>
</ul>
</nav>

<h3>Util</h3>
<nav>
<ul>
<li><LinkTo @route="voca-no-conflict">voca-no-conflict</LinkTo></li>
</ul>
</nav>




</div>
 
  
  <div id="main">

{{outlet}}

</div>
</div>

