<img src="ember-voca-logo.png" class="logo" alt="ember-voca"/>
<p>Ember.js template helpers based on <a href="https://vocajs.com">voca.js</a></p>
<p><a href="https://github.com/rajasegar/ember-voca">Github</a></p>
<h4>Install:</h4>
<code>
  ember install ember-voca
</code>
<p></p>
<p>Voca is a JavaScript library for manipulating strings.</p>


<p>The Voca library offers helpful functions to make string manipulations comfortable: change case, trim, pad, slugify, latinise, sprintf'y, truncate, escape and much more.</p>

  <p>
  <code>
  \{{ voca-capitalize "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-capitalize "hello world"}}
  </code>
  </p>