<img src="ember-voca-logo.png" class="logo" alt="Logo of ember-voca"/>
<p>Ember.js template helpers based on <a href="https://vocajs.com">voca.js</a></p>
<p><a href="https://github.com/rajasegar/ember-voca">Github</a></p>
<h4>Install:</h4>
<code>
  ember install ember-voca
</code>