
  <h3>voca-slice:</h3>
  <p>Description for voca-slice goes here.</p>
  <p>
  <code>
  \{{ voca-slice "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-slice "hello world"}}
  </code>
  </p>
