
  <h3>voca-decapitalize:</h3>
  <p>Description for voca-decapitalize goes here.</p>
  <p>
  <code>
  \{{ voca-decapitalize "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-decapitalize "hello world"}}
  </code>
  </p>
