<h3>voca-substr:</h3>
<hr>
<p>Description for voca-substr goes here.</p>
<p>
  <code>
  \{{ voca-substr "infinite loop" 9}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-substr "infinite loop" 9}}
  </code>
</p>
<p>
  <code>
  \{{ voca-substr "dreams" 2 2}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-substr "dreams" 2 2}}
  </code>
</p>
