
  <h3>voca-prune:</h3>
  <p>Description for voca-prune goes here.</p>
  <p>
  <code>
  \{{ voca-prune "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-prune "hello world"}}
  </code>
  </p>
