  <h3>voca-count-substrings:</h3>
  <hr>
  <p>Counts the number of substring appearances in subject.</p>
  <p>
    <code>
  \{{ voca-count-substrings "bad boys, bad boys whatcha gonna do?" "boys"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count-substrings "bad boys, bad boys whatcha gonna do?" "boys"}}
  </code>
  </p>
