
  <h3>voca-unescape-html:</h3>
  <p>Description for voca-unescape-html goes here.</p>
  <p>
  <code>
  \{{ voca-unescape-html "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-unescape-html "hello world"}}
  </code>
  </p>
