
  <h3>voca-search:</h3>
  <p>Description for voca-search goes here.</p>
  <p>
  <code>
  \{{ voca-search "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-search "hello world"}}
  </code>
  </p>
