
  <h3>voca-count:</h3>
  <p>Description for voca-count goes here.</p>
  <p>
  <code>
  \{{ voca-count "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count "hello world"}}
  </code>
  </p>
