
  <h3>voca-char-at:</h3>
  <p>Access a character from subject at specified position.</p>
  <p>
  <code>
  \{{ voca-char-at "hello world" 0}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-char-at "hello world" 0}}
  </code>
  </p>

  <p>
  <code>
  \{{ voca-char-at "hello world" 1}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-char-at "hello world" 1}}
  </code>
  </p>
