
  <h3>voca-truncate:</h3>
  <p>Description for voca-truncate goes here.</p>
  <p>
  <code>
  \{{ voca-truncate "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-truncate "hello world"}}
  </code>
  </p>
