
  <h3>voca-pad-left:</h3>
  <p>Description for voca-pad-left goes here.</p>
  <p>
  <code>
  \{{ voca-pad-left "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-pad-left "hello world"}}
  </code>
  </p>
