
  <h3>voca-split:</h3>
  <p>Description for voca-split goes here.</p>
  <p>
  <code>
  \{{ voca-split "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-split "hello world"}}
  </code>
  </p>
