
  <h3>voca-first:</h3>
  <p>Description for voca-first goes here.</p>
  <p>
  <code>
  \{{ voca-first "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-first "hello world"}}
  </code>
  </p>
