
  <h3>voca-sprintf:</h3>
  <p>Description for voca-sprintf goes here.</p>
  <p>
  <code>
  \{{ voca-sprintf "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-sprintf "hello world"}}
  </code>
  </p>
