
  <h3>voca-splice:</h3>
  <p>Description for voca-splice goes here.</p>
  <p>
  <code>
  \{{ voca-splice "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-splice "hello world"}}
  </code>
  </p>
