
  <h3>voca-slugify:</h3>
  <p>Description for voca-slugify goes here.</p>
  <p>
  <code>
  \{{ voca-slugify "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-slugify "hello world"}}
  </code>
  </p>
