
  <h3>voca-lower-case:</h3>
  <p>Converts the argument to lower case.</p>
  <p>
  <code>
  \{{ voca-lower-case "Green"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-lower-case "Green"}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-lower-case "BLUE"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-lower-case "BLUE"}}
  </code>
  </p>
