  <h3>voca-code-point-at:</h3>
  <p>Get the Unicode code point value of the character at position.
  If a valid UTF-16 surrogate pair starts at position, the astral code point value at position is returned</p>
  <p>
  <code>
  \{{ voca-code-point-at "rain" 1}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-code-point-at "rain" 1}}
  </code>
  </p>


  <p>
  <code>
  \{{ voca-code-point-at "\uD83D\uDE00 is smile" 0}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-code-point-at "\uD83D\uDE00 is smile" 0}}
  </code>
  </p>
