
  <h3>voca-substr:</h3>
  <p>Description for voca-substr goes here.</p>
  <p>
  <code>
  \{{ voca-substr "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-substr "hello world"}}
  </code>
  </p>
