  <h3>voca-chars:</h3>
  <p>Splits the argument into an array of characters.</p>
  <p>
  <code>
  \{{ voca-chars "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-chars "hello world"}}
  </code>
  </p>
