
  <h3>voca-escape-reg-exp:</h3>
  <p>Description for voca-escape-reg-exp goes here.</p>
  <p>
  <code>
  \{{ voca-escape-reg-exp "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-escape-reg-exp "hello world"}}
  </code>
  </p>
