
  <h3>voca-starts-with:</h3>
  <p>Description for voca-starts-with goes here.</p>
  <p>
  <code>
  \{{ voca-starts-with "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-starts-with "hello world"}}
  </code>
  </p>
