
  <h3>voca-ends-with:</h3>
  <p>Description for voca-ends-with goes here.</p>
  <p>
  <code>
  \{{ voca-ends-with "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-ends-with "hello world"}}
  </code>
  </p>
