
  <h3>voca-vprintf:</h3>
  <p>Description for voca-vprintf goes here.</p>
  <p>
  <code>
  \{{ voca-vprintf "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-vprintf "hello world"}}
  </code>
  </p>
