
  <h3>voca-count-substrings:</h3>
  <p>Description for voca-count-substrings goes here.</p>
  <p>
  <code>
  \{{ voca-count-substrings "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count-substrings "hello world"}}
  </code>
  </p>
