
  <h3>voca-is-numeric:</h3>
  <p>Description for voca-is-numeric goes here.</p>
  <p>
  <code>
  \{{ voca-is-numeric "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-numeric "hello world"}}
  </code>
  </p>
