
  <h3>voca-capitalize:</h3>
  <p>Converts the first character of the argument to upper case.</p>
  <p>
<pre class="language-handlebars">
  <code class="language-handlebars">
  \{{ voca-capitalize "hello world"}}
  </code>
</pre>

  </p>
  <p>
  <code>
  // => {{ voca-capitalize "hello world"}}
  </code>
  </p>
