
  <h3>voca-last:</h3>
  <p>Description for voca-last goes here.</p>
  <p>
  <code>
  \{{ voca-last "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-last "hello world"}}
  </code>
  </p>
