
  <h3>voca-decapitalize:</h3>
  <p>Converts the first character of argument to lower case</p>
  <p>
  <code>
  \{{ voca-decapitalize "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-decapitalize "hello world"}}
  </code>
  </p>
