
  <h3>voca-substring:</h3>
  <p>Description for voca-substring goes here.</p>
  <p>
  <code>
  \{{ voca-substring "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-substring "hello world"}}
  </code>
  </p>
