
  <h3>voca-no-conflict:</h3>
  <p>Description for voca-no-conflict goes here.</p>
  <p>
  <code>
  \{{ voca-no-conflict "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-no-conflict "hello world"}}
  </code>
  </p>
