
  <h3>voca-snake-case:</h3>
  <p>Description for voca-snake-case goes here.</p>
  <p>
  <code>
  \{{ voca-snake-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-snake-case "hello world"}}
  </code>
  </p>
