
  <h3>voca-trim-right:</h3>
  <p>Description for voca-trim-right goes here.</p>
  <p>
  <code>
  \{{ voca-trim-right "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-trim-right "hello world"}}
  </code>
  </p>
