<h3>voca-count-words:</h3>
<hr>
<p>Count the number of words</p>
<p>
  <code>
  \{{ voca-count-words "hello world"}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-count-words "hello world"}}
  </code>
</p>
