
  <h3>voca-title-case:</h3>
  <p>Description for voca-title-case goes here.</p>
  <p>
  <code>
  \{{ voca-title-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-title-case "hello world"}}
  </code>
  </p>
