
  <h3>voca-escape-html:</h3>
  <p>Description for voca-escape-html goes here.</p>
  <p>
  <code>
  \{{ voca-escape-html "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-escape-html "hello world"}}
  </code>
  </p>
