
  <h3>voca-index-of:</h3>
  <p>Description for voca-index-of goes here.</p>
  <p>
  <code>
  \{{ voca-index-of "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-index-of "hello world"}}
  </code>
  </p>
