
  <h3>voca-is-empty:</h3>
  <p>Description for voca-is-empty goes here.</p>
  <p>
  <code>
  \{{ voca-is-empty "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-empty "hello world"}}
  </code>
  </p>
