
  <h3>voca-strip-bom:</h3>
  <p>Description for voca-strip-bom goes here.</p>
  <p>
  <code>
  \{{ voca-strip-bom "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-strip-bom "hello world"}}
  </code>
  </p>
