
  <h3>voca-latinise:</h3>
  <p>Description for voca-latinise goes here.</p>
  <p>
  <code>
  \{{ voca-latinise "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-latinise "hello world"}}
  </code>
  </p>
