
  <h3>voca-replace-all:</h3>
  <p>Description for voca-replace-all goes here.</p>
  <p>
  <code>
  \{{ voca-replace-all "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-replace-all "hello world"}}
  </code>
  </p>
