
  <h3>voca-trim-left:</h3>
  <p>Description for voca-trim-left goes here.</p>
  <p>
  <code>
  \{{ voca-trim-left "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-trim-left "hello world"}}
  </code>
  </p>
