
  <h3>voca-count-words:</h3>
  <p>Description for voca-count-words goes here.</p>
  <p>
  <code>
  \{{ voca-count-words "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count-words "hello world"}}
  </code>
  </p>
