
  <h3>voca-strip-tags:</h3>
  <p>Description for voca-strip-tags goes here.</p>
  <p>
  <code>
  \{{ voca-strip-tags "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-strip-tags "hello world"}}
  </code>
  </p>
