
  <h3>voca-code-point-at:</h3>
  <p>Description for voca-code-point-at goes here.</p>
  <p>
  <code>
  \{{ voca-code-point-at "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-code-point-at "hello world"}}
  </code>
  </p>
