<h3>voca-substring:</h3>
<hr>
<p>Extracts from subject a string from start position up to end position. The character at end position is not included.</p>
<p>
  <code>
  \{{ voca-substring "beach" 1}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-substring "beach" 1}}
  </code>
</p>
<p>
  <code>
  \{{ voca-substring "ocean" 1 3}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-substring "ocean" 1 3}}
  </code>
</p>
