
  <h3>voca-kebab-case:</h3>
  <p>Description for voca-kebab-case goes here.</p>
  <p>
  <code>
  \{{ voca-kebab-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-kebab-case "hello world"}}
  </code>
  </p>
