<h3>voca-count-where:</h3>
<hr>
<p>Counts the characters in subject for which predicate returns truthy.</p>
<p>
  <code>
  \{{ voca-count-where "hola" (voca-is-alpha)}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-count-where "hola" (voca-is-alpha)}}
  </code>
</p>
