
  <h3>voca-upper-case:</h3>
  <p>Description for voca-upper-case goes here.</p>
  <p>
  <code>
  \{{ voca-upper-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-upper-case "hello world"}}
  </code>
  </p>
