<h3>voca-grapheme-at:</h3>
<hr>
<p></p>
<p>
  <code>
  \{{ voca-grapheme-at '\uD835\uDC00\uD835\uDC01' 0}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-grapheme-at "\uD835\uDC00\uD835\uDC01" 0}}
  </code>
</p>
