<h3>voca-last-index-of:</h3>
<hr>
<p>Returns the last occurrence index of search in subject.</p>
<p>
  <code>
  \{{ voca-last-index-of "morning" "n"}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-last-index-of "morning" "n"}}
  </code>
</p>

<p>
  <code>
  \{{ voca-last-index-of "evening" "o"}}
  </code>
</p>
<p>
  <code>
  // => {{ voca-last-index-of "evening" "o"}}
  </code>
</p>
