
  <h3>voca-pad-right:</h3>
  <p>Description for voca-pad-right goes here.</p>
  <p>
  <code>
  \{{ voca-pad-right "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-pad-right "hello world"}}
  </code>
  </p>
