
  <h3>voca-repeat:</h3>
  <p>Description for voca-repeat goes here.</p>
  <p>
  <code>
  \{{ voca-repeat "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-repeat "hello world"}}
  </code>
  </p>
