
  <h3>voca-reverse:</h3>
  <p>Description for voca-reverse goes here.</p>
  <p>
  <code>
  \{{ voca-reverse "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-reverse "hello world"}}
  </code>
  </p>
