<h3>voca-insert:</h3>
<p>Inserts into subject a string toInsert at specified position</p>
<p>
<code>
  \{{ voca-insert "ct" "a" 1}}
</code>
</p>
<p>
<code>
  // => {{ voca-insert "ct" "a" 1}}
</code>
</p>
<p>
<code>
  \{{ voca-insert "sunny" "day" 5}}
</code>
</p>
<p>
<code>
  // => {{ voca-insert "sunny" "day" 5}}
</code>
</p>
