
  <h3>voca-insert:</h3>
  <p>Description for voca-insert goes here.</p>
  <p>
  <code>
  \{{ voca-insert "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-insert "hello world"}}
  </code>
  </p>
