
  <h3>voca-swap-case:</h3>
  <p>Converts the uppercase alpha caracters of argument to lowercase and lowercase characters to uppercase.</p>
  <p>
  <code>
  \{{ voca-swap-case "League of Shadows"}}
  </code>
  </p>
  <p>
  <code>
    // => {{ voca-swap-case "League of Shadows"}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-swap-case "2 Bees"}}
  </code>
  </p>
  <p>
  <code>
    // => {{ voca-swap-case "2 Bees"}}
  </code>
  </p>
