
  <h3>voca-trim:</h3>
  <p>Description for voca-trim goes here.</p>
  <p>
  <code>
  \{{ voca-trim "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-trim "hello world"}}
  </code>
  </p>
