
  <h3>voca-lower-case:</h3>
  <p>Description for voca-lower-case goes here.</p>
  <p>
  <code>
  \{{ voca-lower-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-lower-case "hello world"}}
  </code>
  </p>
