
  <h3>voca-count-where:</h3>
  <p>Description for voca-count-where goes here.</p>
  <p>
  <code>
  \{{ voca-count-where "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count-where "hello world"}}
  </code>
  </p>
