
  <h3>voca-swap-case:</h3>
  <p>Description for voca-swap-case goes here.</p>
  <p>
  <code>
  \{{ voca-swap-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-swap-case "hello world"}}
  </code>
  </p>
