
  <h3>voca-replace:</h3>
  <p>Description for voca-replace goes here.</p>
  <p>
  <code>
  \{{ voca-replace "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-replace "hello world"}}
  </code>
  </p>
