
  <h3>voca-capitalize:</h3>
  <p>Description for voca-capitalize goes here.</p>
  <p>
  <code>
  \{{ voca-capitalize "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-capitalize "hello world"}}
  </code>
  </p>
